
//
// VARIABLES
//

// Colors

$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$blue: #4183C4;
$snow: #cdc9c9;
$gainsboro: #dcdcdc;
$slategray: #2F4F4F;

// Main theme colors 
$mono-color: $slategray;                // main theme color(header, links, footer icons, buttons, post-title)
$hl-color: $blue;              // header link color (author name and posted on date) for blog post meta 
$navbar-hover-color:$gray;        // navbar hover color (site name and navbar links hover color)
$link-color: $gainsboro;        // normal hyperlink color other than the ones above.


// Heading colors
$h1-color: $mono-color;
$h2-color: $mono-color; 
$h3-color: $darkerGray; 
$h4-color: $darkerGray; 
$h5-color: $darkerGray; 


// Your avatar
// $avatar: "/images/avatar.jpg";
$avatar: "/images/ironman-bw.png";

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$raleway: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
